{% extends 'base.html' %}
{% load static %}

{% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

{% block section %}
<div class="welcome-section text-center py-5">
    <h2 class="display-4 font-weight-bold">Bienvenidos al Portafolio de Fotografía</h2>
    <p class="lead">Explora nuestras galerías y descubre impresionantes fotografías.</p>
</div>
{% endblock section %}

{% block maincontent %}
<section class="gallery-section py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for gallery in object_list %}
                <div class="col">
                    <div class="card mb-0 shadow-sm border-0 overflow-hidden rounded-lg card-square">
                        <div class="card-image-wrapper position-relative">
                            <img src="{% static gallery.photo.url %}" class="card-img-top" alt="Galería">
                            <div class="card-overlay position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-end p-3 text-white">
                                <h5 class="card-title">{{ gallery.title }}</h5>
                                <a href="{% url 'gallery_detail' gallery.id %}" class="btn btn-light btn-sm mt-2">
                                    Ver más
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock maincontent %}
