{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2>{{ gallery.title }}</h2>
    <p>{{ gallery.description }}</p>

    <!-- Muestra las imágenes de la galería -->
    <div class="gallery-images row">
        {% for image in images %}
            <div class="col-md-4 mb-3">
                <img src="{% static image.image_file.url %}" alt="{{ image.title }}" class="img-thumbnail">

                <!-- Botones de modificar y eliminar para cada imagen -->
                {% if is_owner %}
                    <div class="mt-2 d-flex justify-content-between">
                        <a href="{% url 'edit_image' image.id %}" class="btn btn-outline-warning btn-sm">Modificar</a>
                        
                        <!-- Formulario de eliminación de imagen -->
                        <form action="{% url 'delete_image' image.id %}" method="post" style="display:inline;" class="delete-image-form">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger btn-sm">Eliminar</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <p class="text-muted">No hay imágenes en esta galería.</p>
        {% endfor %}
    </div>

    <!-- Mostrar botones solo si el usuario es el propietario de la galería -->
    {% if is_owner %}
        <div class="mt-4 d-flex justify-content-start">
            <a href="{% url 'edit_gallery' gallery.id %}" class="btn btn-outline-warning mr-2">Modificar Galería</a>
            <a href="{% url 'delete_gallery' gallery.id %}" class="btn btn-outline-danger mr-2">Eliminar Galería</a>
            <a href="{% url 'add_image_to_gallery' gallery.id %}" class="btn btn-outline-primary mr-2">Agregar Imagen</a>
        </div>
    {% else %}
        <p class="text-muted mt-4">No puedes modificar esta galería.</p>
    {% endif %}
</div>
{% endblock %}


