{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <!-- Contenedor para título, descripción y botones alineados a la derecha -->
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2>{{ gallery.title }}</h2>
            <p>{{ gallery.description }}</p>
        </div>
        
        <!-- Botones de modificar, eliminar y agregar imagen alineados a la derecha -->
        {% if is_owner %}
        <div class="d-flex gap-2">
            <a href="{% url 'edit_gallery' gallery.id %}" class="btn btn-warning btn-sm mr-3">Modificar Galería</a>
            <a href="{% url 'delete_gallery' gallery.id %}" class="btn btn-danger btn-sm mr-3">Eliminar Galería</a>
            <a href="{% url 'add_image_to_gallery' gallery.id %}" class="btn btn-primary btn-sm">Agregar Imagen</a>
        </div>
        {% endif %}
    </div>

    <!-- Muestra las imágenes de la galería -->
    <div class="gallery-section row">
        {% for image in images %}
            <div class="col-md-4 mb-3">
                <div class="card mb-0 shadow-sm border-0 overflow-hidden rounded-lg card-square">
                    <div class="card-image-wrapper position-relative">
                        <img src="{% static image.image_file.url %}" alt="{{ image.title }}" class="card-img-top">
                        
                        <!-- Overlay que contiene el título y botones -->
                        <div class="card-overlay d-flex flex-column justify-content-end p-3 text-white">
                            <h5 class="card-title">{{ image.title }}</h5>

                            <!-- Contenedor para los botones, alineados a izquierda y derecha -->
                            <div class="d-flex justify-content-between w-100 gap-2">
                                <a href="{% url 'edit_image' image.id %}" class="btn btn-warning btn-sm">Modificar</a>
                                <form action="{% url 'delete_image' image.id %}" method="post" style="display:inline;" class="delete-image-form">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm" >Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-muted">No hay imágenes en esta galería.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
