{% extends 'base.html' %}
{% load static %}
{% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
{% block section %}
<div class="welcome-section">
    <div class="welcome-banner"></div>
    <h2>Bienvenidos al Portafolio de Fotografía</h2>
    <p>Explora nuestras galerías y descubre impresionantes fotografías.</p>
</div>
{% endblock section %}

{% block maincontent %}
<section class="gallery-section py-5">
    <div class="container">
        <div class="row">
            {% for gallery in object_list %}
                <div class="col-md-4 card-gallery">
                    <div class="card mb-4 shadow-sm ">
                        <img src="{% static gallery.photo.url %}" class="card-img-top" alt="Galería">
                        <div class="card-body">
                            <h5 class="card-title">{{ gallery.title }}</h5>
                            <p class="card-text">{{ gallery.description }}</p>
                            <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock maincontent %}