{% load static %}
<footer class="footer-custom">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-section">
                <h5>Sobre Nosotros</h5>
                <p>Este portafolio muestra una colección de nuestro trabajo. ¡Gracias por visitar!</p>
            </div>
            <div class="col-md-4 footer-section">
                <h5>Enlaces</h5>
                <ul class="footer-links">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Galerías</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-section">
                <h5>Síguenos</h5>
                <div class="social-icons">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center copyright">
                <p>&copy; 2024 Portafolio. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>